body{
    text-align: center;
    background: #121212;
    color: #fff;
}
#result-container{
    margin: 10px;
    padding: 10px;
}
button{
    padding: 10px;
    margin: 10px;
    background:transparent;
    color: black;
    border: none;
    font-size: 40px;
}
#reset{
    background: #fff;
    visibility: hidden;
}
div{
    padding: 10px;
}